@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Irish+Grover&display=swap");
/* PAGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(./arquivos/bkg.jpg) fixed center;

}
/* BARRA DE NAVEGAÇÃO*/
.container{
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  background: rgb(255,0,0,0.8);
}
.cont-bar{
width: 100%;
display: flex;
align-items: center;
justify-content: space-around;
}
.logo{
  margin: 10px;
}
.logo img{
  max-width: 8vw;
  min-width: 80px;
}
.nav{
  margin: 10px;
  display: flex;
  justify-content: space-around;
  gap:8vw;

}
.list-buttons{
  display: flex;
  list-style: none;
  

}
.nav a{ 
  text-decoration: none;
  font-size: 2.5vw;
  font-family: 'Carter One', cursive;
  color: white;

}

.menu-mobile {
  display: none;
  width: 60px;
  height: 60px;
  margin: 20px;
  color: white;
  transition: background 0.2s;
  border-radius: 50%;
}
.menu-mobile:hover{
  background: rgba(0, 0, 0, 0.1);
}

@media (max-width: 999px) {
  
  .list-buttons{
    display: none;
  }
  .nav{
    display: none;
  }
  .cont-bar{
    justify-content: space-between;
  }
 
  .menu-mobile {
    display: block;
  }
  
}
@media (max-width:780px) {
  .logo{
    width: 80px;
  }
  
}
@media (max-width: 830px){
  body{
    background-image: url(./arquivos/IMG_2691.JPEG);
    background-position: 100vh;
    background-attachment: fixed;
  }
}
