@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Irish+Grover&display=swap");
/* PAGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url(./arquivos/bkg.jpg) no-repeat center center;
}
/* barra de navegação */

.bar {
  position: absolute;
  background: red;
  width: 100%;
  height: 140px;
  opacity: 0.6;
  
}
/* conteudo da barra */
main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main img {
  height: 125px;
  width: 125px;
  z-index: 1;
  margin: 5px;
}
.buttons {
  justify-content: center;
  width: 80%;
  z-index: 1;
}
ul {
  z-index: 1;
  justify-content: center;
  display: flex;
  list-style: none;
  gap: 40px;
  
}
main ul li {
  z-index: 1;
  font-size: 35px;
  font-family: "Carter One", cursive;
  color:white;
}
/* button mobile */
.menu-mobile {
  z-index: 1;
  display: none;
  width: 60px;
  height: 60px;
  margin: 20px;
  color: white;
  transition: background 0.2s;
  border-radius: 50%;
}
.menu-mobile:hover{
  background: rgba(0, 0, 0, 0.1);
}
/* tela mobile */
@media (max-width: 999px) {
  .buttons {
    display: none;
  }
  main {
    justify-content: space-between;
  }
 
  .menu-mobile {
    display: block;
  }
}
